.cart {
    overflow-x: hidden;

    text-align: center;
    h1 {
        font-size: 34px;
        line-height: 36px;

        margin-top: 30px;
        margin-left: 30px;

        text-align: left;
        text-transform: uppercase;

        color: #f3bb12;
    }
}

.cart__options {
    display: grid;

    grid-template-columns: 1fr;

    a {
        font-size: 20px;

        display: block;

        padding: 15px;

        text-decoration: none;

        color: #f3bb12;
        border-bottom: 1px solid #f3bb12;

        &:hover {
            text-decoration: none;

            background: rgba(0,0,0,1);
            background: radial-gradient(ellipse at center, rgba(204,204,204,.2) 0%, rgba(0,0,0,1) 100%);

            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#000000', GradientType=1 );
        }

        &:first-child {
            border-top: 1px solid #f3bb12;
        }
    }
}

@media @t-width {
    .cart {
        h1 {
            font-size: 50px;
            line-height: 50px;

            margin-left: 0;

            text-align: center;
        }
    }

    .cart__options {
        grid-template-columns: 1fr 1fr;

        a {
            padding: 100px 20px;

            border-top: 1px solid #f3bb12;

            &:first-child {
                border-right: 1px solid #f3bb12;
            }
        }
    }
}
