.home-section {
    background: url(./../img/mark-claus-222807.jpg) no-repeat ;
    background-color: #000;
    background-position: 10% bottom;
    background-size: cover;
}

.home-section__container-fluid {
    padding: 20px;
    padding-bottom: 80px;

    .container-fluid();
}



.home-section__title {
    font-size: 34px;
    line-height: 36px;

    margin-bottom: 80px;
    padding-top: 30px;

    text-align: center;
    text-transform: uppercase;
}

.menu {
    .container-fluid();
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr;
}

.menu__item {
    text-align: center;

    a {
        text-decoration: none;
    }

    h2 {
        font-size: 22px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .menu__image {
        display: block;
        padding: 0 0px;
        max-height: 250px;
        overflow: hidden;
        margin-bottom: 11px;
        img {

        }
    }

    span {
        font-size: 20px;
        display: block;
        font-weight: bold;
        margin-bottom: 20px;
    }

    a.btn {
        background-color: #000;
        color: #f3bb12;
        display: block;
        padding: 11px;
        margin-bottom: 20px;
    }
}

@media @t-width {
    .home-section__container-fluid {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .home-section__title {
        font-size: 50px;
        line-height: 50px;

        padding-top: 40px;
        margin-bottom: 110px;
    }

    .menu {
        padding: 0 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap:20px;
    }
}

@media @d-width {

    .menu {
        grid-template-columns: 1fr 1fr 1fr;
    }
}