
.page-footer__copy {
    margin-top: 10px;
    padding: 50px 20px;

    text-align: center;
    letter-spacing: 1px;

    color: #fff;
    text-shadow: -.6px 0 1px rgb(30,242,241) , .6px 0 1px rgb(246,5,10) ;

    span {
        font-size: 14px;
    }
}
